.btn {
    width: 100%;
    border: none;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #fff;
    transition: background .3s;
    color: rgb(55, 54, 54);
}

.btn:hover {
    background: rgb(151, 148, 148);
}

.btn:active {
    background: rgb(174, 170, 170);
}

@media (max-width: 375px) {
    .btn {
        font-size: 14px;
    }
}