.title {
    text-align: center;
    font-size: 32px;
}

@media (max-width: 500px) {
    .title {
        font-size: 26px;
    }
}

@media (max-width: 375px) {
    .title {
        font-size: 22px;
    }
}