.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    z-index: 1;
    border-radius: 20px;
}

.link {
    color: blueviolet;
    text-decoration: none;
    transition: color .2s;
}

.link:hover {
    color: rgb(173, 86, 255);
}

.link:active {
    color: rgb(88, 0, 170);
}